[
	{"keys": ["ctrl+1"], "command": "toggle_side_bar"},
	{"keys": ["shift+alt+z"], "command": "set_layout", "args": {
		"cols": [0.0, 0.5, 1.0],
		"rows": [0.0, 1.0],
		"cells": [[0, 0, 1, 1], [1, 0, 2, 1]]
	}},
	{"keys": ["shift+alt+x"], "command": "set_layout", "args": {
		"cols": [0.0, 1.0],
		"rows": [0.0, 1.0],
		"cells": [[0, 0, 1, 1]]
	}}
]
